footer {
    grid-area: ft;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    background-color: rgb(39, 39, 39);
    padding: 16px;
    margin: 0px;
    font-family: 'Pacifico', cursive;
    font-size: 32px;

}